#tittle{
    margin-bottom: 20px;
}
.bottomtag{
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 20px;
}
.description{
    text-align: start;
    padding: 2px;
    margin-bottom: 20px;
   
}
#dropdown{
    border-radius: 25px;
    padding:10px 15px;
    margin-bottom: 20px;
}
#color{
    color: rgb(173, 0, 1);
    margin-bottom: 20px;
}
#stylebtn{
    
    
    padding:10px 15px;
    font-size: 13px;
    line-height: 18px;
    background-color: #83b735;
    border-radius: 25px;
    outline: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
    
}
.btnn {
    padding: 6px;
    margin: 5px;
}


.textcenter{
margin: 10px;
justify-content: center;
}
#icons{
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    gap: 6px;
}.productDetailDiv{
    display: flex;
    justify-content: space-between;
    max-width: 900px;
    margin: 0px auto;
    padding: 50px;
}
.descriptionImage{
    margin-right: 100px;
}
.tele {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    gap: 7px;
}
